.tiles {
  justify-content: center;
}

.title {
  line-height: 1.1rem;
}

.secondary {
  background: rgba(0, 0, 0, .5) !important;
}

.loadMore {
  display: block !important;
  margin: auto;
}