.grid {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 3rem);
  flex-wrap: wrap;
  padding: 0;
}

.item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 4px 0;
  position: relative;
  overflow: hidden;

  &:hover .description {
    display: block;
  }
}

.description {
  background: rgba(0, 0, 0, .5) !important;
  display: none;
  padding: 1rem;
  color: white;
  text-align: right;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.image {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 200px;
  user-select: none;

  .img {
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fafafa;
  }
}

.icon {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 2px solid transparent;
  border-radius: 50%;
  display: none;
  font-size: 18px;
  z-index: 1;

}

.item[is-selected] .icon {
  display: inherit;
  background: var(--mdc-theme-primary) !important;
  border-color: var(--mdc-theme-primary) !important;
  color: #777 !important;
}

.loadMore {
  // background: var(--mdc-theme-primary) !important;
  padding: 14px 1rem 3rem;
  display: block !important;
  margin: 1rem auto;
}

.grid {
  .item:hover {
    .icon {
      display: inherit;
      color: #777;
      background: #DDD;
    }
  }
}

.grid[selecting] {
  .icon {
    display: inherit;
    background: none;
    border-color: #DDD;
    color: transparent;
  }

  
  .description {
    display: block;
  }
}
