{
  "apiKeys": {
    "googleUrlShortener": "asdfasdfasdfasdfasdf"
  },
  "algolia": {
    "applicationId": "ASDFASDFADSFDSF",
    "apiKey": "asdfadsfdsfasfds",
    "settings": {
      "attributesForFaceting": ["filterOnly(environment)"],
      "searchableAttributes": ["filename", "tags"]
    }
  },
  "collections": {
    "uploads": "uploads",
    "users": "users"
  },
  "firebase": {
    "databaseURL": "https://your-firebase.firebaseio.com",
    "storageBucket": "your-firebase.appspot.com",
    "apiKey": "asdfsdfdsfasdfadsfsdf",
    "authDomain": "your-firebase.firebaseapp.com",
    "projectId": "your-firebase",
    "serviceAccount": "./service-account.json"
  },

  "indexes": {
    "uploads": "fogo-uploads"
  },
  "refs": {
    "idTokenRefresh": "notifications/{uid}/idTokenRefresh"
  }
}
