<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Fogo</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>manifest.json">
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<% if (htmlWebpackPlugin.options.manifest.theme_color) { %>
		<meta name="theme-color" content="<%= htmlWebpackPlugin.options.manifest.theme_color %>">
		<% } %>
			<% for (var chunk of webpack.chunks) { %>
				<% if (chunk.names.length === 1 && chunk.names[0] === 'polyfills') continue; %>
					<% for (var file of chunk.files) { %>
						<% if (htmlWebpackPlugin.options.preload && file.match(/\.(js|css)$/)) { %>
							<link rel="preload" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
							<% } else if (file.match(/manifest\.json$/)) { %>
								<link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath + file %>">
								<% } %>
									<% } %>
										<% } %>
</head>

<body>
	<%= htmlWebpackPlugin.options.ssr({
			url: '/'
		}) %>
		<script src="https://quiver-four.firebaseapp.com/__/firebase/4.7.0/firebase-app.js"></script>
		<script src="https://quiver-four.firebaseapp.com/__/firebase/4.7.0/firebase-auth.js"></script>
		<script src="https://quiver-four.firebaseapp.com/__/firebase/4.7.0/firebase-firestore.js"></script>
		<script src="https://quiver-four.firebaseapp.com/__/firebase/4.7.0/firebase-database.js"></script>
		<script src="https://quiver-four.firebaseapp.com/__/firebase/4.7.0/firebase-storage.js"></script>
		<script>
			// Initialize Firebase
			var config = {
				apiKey: "AIzaSyCzNxnQ6WCJKejq6SBd7NqhVskxEOmDq_Y",
				authDomain: "quiver-four.firebaseapp.com",
				databaseURL: "https://quiver-four.firebaseio.com",
				projectId: "quiver-four",
				storageBucket: "quiver-four.appspot.com",
				messagingSenderId: "1082528354495"
			};
			firebase.initializeApp(config);
		</script>
		<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearchLite.min.js"></script>
		<script defer src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"></script>
		<script>window.fetch || document.write('<script src="<%= htmlWebpackPlugin.files.chunks["polyfills"].entry %>"><\/script>')</script>
</body>

</html>