.galleryView {
  height: 100vh;
  width: 100vw;

  background: black;

  display: flex;
  justify-content: center;
  align-items: center;

}

.header {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 800;
  text-align: left;
}
