.home {
  min-height: calc(100vh - 5rem);
}

.header {
  font-size: 4rem;
  font-style: italic;
  font-weight: 800;
  text-align: left;
}

.fab {
  position: fixed !important;
  right: 2rem;
  bottom: 2rem;
}
