.form {
  display: flex;
  align-items: center;
}

.tagsInput {
  flex-grow: 1;
}

.globalTagItems {
  padding: 0;
}

.list {
  padding: 0;
  list-style: none;

  li {
    display: flex;
    margin-bottom: 1rem;
  }
}

.secondary {
  padding: 0 1rem;

  h3 {
    margin-top: 0;
  }
}

.image {
  width: 200px;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fafafa;
}

.tagItems {
  padding: 0;
}

.tagItem {
  display: flex;
  align-items: center;

  font-size: 2rem;

  img {
    background: var(--mdc-theme-secondary-dark);
    border-radius: 50%;
    padding: 4px;
    margin-right: 1rem;
    cursor: pointer;
  }
}
