.overlay {
  background: black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  z-index: 10;
}

.image {
  max-height: 100vh;
  max-width: 100vw;
}

.description {
  color: white;
  list-style: none;
  font-size: 1.5rem;
  padding: 0;

  position: absolute;
  bottom: 0;

  li {
    margin-bottom: 0.5rem;
    overflow: hidden;
    max-width: calc(100vw - 5rem);
    white-space: nowrap;
    text-overflow: ellipsis;
  }

}

.dimensions {
  display: inline-block;
  margin: 0 1rem;
  min-width: 8rem;
}

.copy {
  cursor: pointer;
}