.overlay {
  background: black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.image {
  max-height: 100vh;
  max-width: 100vw;
}

.description {
  color: white;
  list-style: none;
  font-size: 1.5rem;

  li {
    margin-bottom: 0.5rem;
  }
}