.overlay {
  background: black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  z-index: 10;
}

.image {
  max-height: 100vh;
  max-width: 100vw;
}

.description {
  background: rgba(0, 0, 0, .9);
  color: white;
  list-style: none;
  font-size: 1.5rem;
  padding: 1rem;

  position: absolute;
  bottom: 0;

  li {
    margin-bottom: 0.5rem;
    overflow: hidden;
    max-width: calc(100vw - 5rem);
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  img {
    position: relative;
    top: 4px;
  }

}

.dimensions {
  display: inline-block;
  margin: 0 1rem;
  min-width: 8rem;
}

.copy {
  cursor: pointer;
}

.textarea {
  padding-top: 1rem;
  position: relative;

  textarea {
    width: 100%;
  }
  aside {
    position: absolute;
    right: 0;
    bottom: 1rem;
    z-index: 1;

    color: black;
    font-size: 1rem;
  }
}