// Environment Variables
const defaults = {
  algolia: {
    applicationId: 'ASDFADFASDF',
    apiKey: 'asdfasdfasdfadfaf',
  },
  collections: {
    uploads: 'uploads',
  },
  functionsEnvironment: 'production',
  indexes: {
    uploads: 'fogo-uploads',
  },
  refs: {
    idTokenRefresh: 'notifications/{uid}/idTokenRefresh',
  },
  urls: {
    image: 'https://your-cloud-functions-instance.cloudfunctions.net/image',
  },
};
const production = {
  ...defaults,
  environment: 'production',
  symbol: Symbol('production'),
  storage: { path: 'production/uploads' },
};
const howtofirebase = {
  ...defaults,
  environment: 'howtofirebase',
  symbol: Symbol('howtofirebase'),
  storage: { path: 'howtofirebase/uploads' },
};
const development = {
  ...defaults,
  environment: 'development',
  symbol: Symbol('development'),
  storage: { path: 'development/uploads' },
};

// Lookup Maps
const environments = new Map([
  [production.symbol, production],
  [howtofirebase.symbol, howtofirebase],
  [development.symbol, development],
]);
const hosts = new Map([
  ['yoursite.com', production.symbol],
  ['fogo.howtofirebase.com', howtofirebase.symbol],
  ['quiver-four.firebaseapp.com', howtofirebase.symbol],
  ['dev.chrisesplin.com', development.symbol],
  ['localhost', development.symbol],
]);

// Lookup by location.hostname
export default environments.get(hosts.get(location.hostname));
