@import url("https://use.typekit.net/vjz5ruy.css");

html, body {
  font-family: 'mr-eaves-modern', arial, sans-serif;
  font-size: 16px;
	font-weight: 300;
  margin: 0;
  
  --mdc-theme-primary: #29b6f6;
  --mdc-theme-primary-light: #73e8ff;
  --mdc-theme-primary-dark: #0086c3;
  --mdc-theme-secondary: #ec407a;
  --mdc-theme-secondary-light: #ff77a9;
  --mdc-theme-secondary-dark: #b4004e;
}

input {
  font: 14px/1.21 'mr-eaves-modern', arial, sans-serif;
  font-weight: 800;
  font-style: italic;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: inherit;
}

a.active a {
  color: white !important;
  cursor: default;
  background: gray;
}

h1 {
	text-align: center;
}

.router-wrapper {
	min-height: calc(100vh - 6rem);

	display: flex;
	justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.storage-uploader {
  max-width: 43rem;
  margin: 2rem;
}

.storage-uploader .buttons {
  margin-bottom: 3rem;
}

.storage-uploader .mdc-grid-list {
  --mdc-theme-primary: rgba(0, 0, 0, .8);
  --mdc-grid-list-tile-width: 20rem;
}

.storage-uploader .mdc-grid-tile__primary-content {
  height: 156px !important;
}
