.mdc-toolbar {
  opacity: .9;
  position: fixed !important;
  z-index: 1;

  .mdc-toolbar__section {
    align-items: center;
  }
  
  .mdc-toolbar__title {
    font-family: cortado !important;
    font-size: 2rem !important;
    flex-grow: 1;
  }
}

.actions {
  padding: 0 2rem; 
}

.icon {
  cursor: pointer;
  margin: 0 1rem;
}

.toolbarIcon {
  margin-left: 1rem;
}

