.mdc-toolbar {
  opacity: .9;
  position: fixed !important;
  z-index: 10;

  .mdc-toolbar__section {
    align-items: center;
  }
  
  .mdc-toolbar__title {
    font-family: 'mr-eaves-modern' !important;
    font-size: 2rem !important;
    font-weight: 800;
    font-style: italic;
  }
}

.actions {
  display: flex;
  align-items: center;
  padding: 0 2rem; 
  flex-grow: 1;
}

.icon {
  cursor: pointer;
  margin: 0 1rem;
}

.toolbarIcon {
  margin-left: 1rem;
}
